@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#home{
  background-image: url(../src/images/background.jpg);
  background-position: center center;
  background-size: cover;
}

.text-main{
  color: #a24a02 !important;
}

.bg-main{
background-color:#a24a02 !important ;

}
.nav-link:hover{
  color: #ff7a0d !important;
}


#notFound{
  background-image: url(../src/images/404-Error-0.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.btn-outline-main {
  --bs-btn-color: #a24a02 !important;
  --bs-btn-border-color: #a24a02 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a24a02 !important;
}

#home .h1-main{
  font-size:50px !important ;
}

#details{
  /* background-color: #fcb67d; */
  background-color: #fac498;
  
}


.layout{
background-color: rgba(0, 0, 0, 0.8);
height: 100vh;
width: 100%;
}

#details img{
  cursor: pointer;
}

a{
  text-decoration: none !important;
}

nav{
  z-index: 999;
}
